
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #173889;
    display: grid;
    gap: 1vh 1vw;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    margin-left: 32vw;
    margin-right: 32vw;
    padding-top: 5vh;
  }
  div {
    width: 6vw;
    height: 6vw;
  }
  .amarelo{
    background: #F8DA37;
  }
  .vermelho{
    background: #EE4F63;
  }
  .azul{
    background: #2CE1EA;
  }
  .roxo{
    background: #B069F7;
  }
